.post-folded{
    position: relative;

    .post-trash{
        position: absolute;
        color: $red;
        bottom: 40px;
        right: 35px;
    }

    .read-more-wrapper{
        display: grid;
        justify-content: center;
    }
}
