.user-page {

    .user-info {
        display: grid;
        grid-template-columns: max-content auto;
        grid-column-gap: 35px;
        padding: 35px;
        margin-bottom: 35px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 1);
        box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 1);

        .photo-wrapper {

            img {
                height: 300px;
                max-width: 250px;
                object-fit: cover;
            }
        }

        .info-wrapper {

            p {
                margin-top: 5px;

                span {
                    font-weight: bold;
                    color: $green;
                }
            }
        }
    }
}
