.post{

    .head-wrapper{
        display: grid;
        grid-template-columns: auto auto;

        .author-wrapper{
            display: grid;
            grid-template-columns: max-content auto;
            grid-column-gap: 10px;
            align-items: center;
            margin-bottom: 15px;

            img{
                height: 60px;
                width: 60px;
                border-radius: 60px;
                object-fit: cover;
            }

            .author-info{

                .author-name{
                    font-size: 22px;
                }

                p{
                    color: $lightgray;
                    font-size: 14px;
                }

            }

        }

        .category-wrapper{
            justify-self: right;

            span{
                font-size: 14px;
            }
        }

    }

    .post-info{
        margin-top: 10px;

        .post-title{
            color: $green;
            margin-bottom: 5px;
        }

        .post-description{
            font-size: 16px;
            font-weight: bold;
            color: $lightgray;
        }

        img{
            object-fit: cover;
            max-height: 700px;
            width: 100%;
            margin: 15px 0;
        }
    }

    .post-footer{
        display: grid;
        grid-template-columns: auto max-content;
        align-items: center;

        .tags-wrapper{

            .tag-wrapper{
                margin-left: 10px;

                .tag{
                    font-size: 12px;
                }
            }
        }

        .icons-wrapper{
            justify-self: right;

            p{
                float: left;
                margin: 0 10px 0 15px;
                font-size: 15px;
            }
        }
    }
}
