.filter-wrapper {
    display: grid;

    .filter-toggle{
        margin-bottom: 35px;
        justify-self: center;
    }

    .filter {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 35px;
        margin-bottom: 35px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 1);
        box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 1);

        .filter-header {
            grid-area: h;

            h3 {
                color: $green;
            }
        }

        .date-since {
            grid-area: ds;
        }

        .date-until {
            grid-area: du;
        }

        .author-column {
            grid-area: a;
        }

        .category-column {
            grid-area: c;
        }

        .tag-column {
            grid-area: t;
        }

        .search-row {
            grid-area: s;
        }

        &.filter-default {
            grid-template-columns: repeat(6, minmax(100px, 1fr));
            grid-template-areas:
                "h h h h h h"
                "ds ds ds du du du"
                "s s s s s s"
                "a a c c t t";
        }

        &.filter-category {
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            grid-template-areas:
                "h h"
                "ds du"
                "s s"
                "a t";
        }

        &.filter-user {
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            grid-template-areas:
                "h h"
                "ds du"
                "s s"
                "c t";
        }
    }
}

.rw-multiselect-tag {
    margin-top: 0;
}

.rw-widget-input{
    div{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
    }
}


